<nav class="navbar bg-dark d-flex"  data-bs-theme="dark">
    <a class="navbar-brand" href="/admin">
        Admin
    </a>
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </ul>

</nav>