<aside
    class="sidebar"
>
    <ul class="sidebar-list">
        <a href="/admin/users" class="sidebar-item <%= pageName !== null && pageName === 'users' ? 'active' : '' %>">Users</a>
        <a href="/admin/products" class="sidebar-item <%= pageName !== null && pageName === 'products' ? 'active' : '' %>">Products</a>
    </ul>
</aside>